@model EF_IVANN_5.Models.CabFrasGlobal
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <tr>
        <td>
            <div class="editor-field">
                @Html.DropDownList("IDPACIENTE", new SelectList(Model.PacientesGlob,"IDPACIENTE","NOMBRE_Y_APELLIDOS", "Seleccione"))   <input type="submit" value="Manda" />
            </div>
        </td>
        <td>
            <div>
               
                <p>

                </p>
                @*@Html.DisplayFor(model => model.paciente.IDPACIENTE)*@
                @*<input type="submit" value="Manda" />*@
            </div>
        </td>
    </tr>
    <p>
        @foreach(var item in Model.FacturasGlob)
        {
            <p>
            <strong>
                <td>
                    @Html.DisplayFor(modelItem => item.IDPACIENTE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRE_Y_APELLIDOS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DNI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nº_FACTURA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TOTAL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nº_FACTURA)
                </td>
            </strong>
                
                <td>
                    @Html.ActionLink("Editar", "Edit", "CabeceraFras", new { id = item.IDLINEAFRA }, null) |
                    @Html.ActionLink("Details", "Details", "CabeceraFras", new { id = item.IDLINEAFRA }) 
                </td>
                </p>
                    
        }
<p>
    @Html.DisplayFor(model => model.paciente.IDPACIENTE)
</p>
    </p>
}

